In [64]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
import mysql.connector
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [52]:
scope = [
    'https://spreadsheets.google.com/feeds',
    'https://www.googleapis.com/auth/drive'
]
creds = ServiceAccountCredentials.from_json_keyfile_name('data-ingestion-464816-ae573e49660d.json', scope)

In [53]:
client = gspread.authorize(creds)
sheet = client.open("rental_car_issues").sheet1  # or use .open_by_url()
data = sheet.get_all_records()

In [54]:
import pandas as pd
df = pd.DataFrame(data)
print(df.head())

             DESCRIPTION                     CREATED_BY_ID CLOSED_BY_ID  \
0   défaut frein parking  6647665632626ec024efa63ffb2c8191
1  License plate missing
2                         0ae45da93c3296e5b2fd750c105b5d57
3  Please vacuum vehicle  e3d823bfb69a748e904ef06cbc8a3423
4                   pads  3264b7acc673cbbad595a95e32ef8408

                         VEHICLE_ID VEHICLE_METER_VALUE VEHICLE_METER_UNIT  \
0  c154a8db8182c5272d94914fcef8ef59         408109.6749                 km
1  baa4a300d7ae080b7186d750b56ec905         400503.7444                 mi
2  5d1b4321da55ddf22ab9ee528ded8e7e          31131.3842                 mi
3  a4fb73d46417597172297d2c86dfc477         169333.9159                 mi
4  337857066029543d34fb6b362a70930f         14247.97073                 mi

       VEHICLE_METER_AT                       CUSTOM_FIELDS  \
0  2023-07-03T00:00:00Z
1  2023-07-04T00:00:00Z                                  {}
2  2023-07-04T00:00:00Z
3  2023-07-04T00:00:00Z  {\n  "accident_report": "false"\n}
4  2023-05-13T00:00:00Z                                  {}

                REPORTED_AT               RESOLVED_AT RESOLVED_NOTE     STATE  \
0      2023-06-14T17:36:00Z  2023-06-15T13:08:49.155Z            Ok  resolved
1      2023-03-15T09:17:00Z                                              open
2      2023-01-19T14:53:00Z  2023-01-19T20:29:50.129Z                resolved
3      2023-02-11T17:32:00Z   2023-02-14T12:08:22.17Z                resolved
4  2023-01-18T03:32:59.711Z      2023-01-18T06:30:00Z                resolved

                 CREATED_AT                UPDATED_AT
0  2023-06-14T17:36:51.937Z  2023-06-15T13:08:49.201Z
1  2023-03-15T09:27:27.783Z  2023-03-15T09:27:27.783Z
2  2023-01-19T14:54:28.062Z  2023-01-19T20:29:51.023Z
3  2023-02-11T17:34:11.487Z  2023-02-14T12:08:22.237Z
4  2023-01-18T03:32:59.902Z  2023-01-18T06:30:01.852Z

In [55]:
df.info

<bound method DataFrame.info of                                            DESCRIPTION  \
0                                 défaut frein parking
1                                License plate missing
2
3                                Please vacuum vehicle
4                                                 pads
..                                                 ...
495                                pads, caliper align
496                  HP and  And ESC warning lights on
497                                     tire, cassette
498  One clearance light on the back of the pup on ...
499                                            Cracked

                        CREATED_BY_ID CLOSED_BY_ID  \
0    6647665632626ec024efa63ffb2c8191
1
2    0ae45da93c3296e5b2fd750c105b5d57
3    e3d823bfb69a748e904ef06cbc8a3423
4    3264b7acc673cbbad595a95e32ef8408
..                                ...          ...
495
496
497  3264b7acc673cbbad595a95e32ef8408
498  0c0c46af40febe6f2529c26de10e4ae7
499

                           VEHICLE_ID VEHICLE_METER_VALUE VEHICLE_METER_UNIT  \
0    c154a8db8182c5272d94914fcef8ef59         408109.6749                 km
1    baa4a300d7ae080b7186d750b56ec905         400503.7444                 mi
2    5d1b4321da55ddf22ab9ee528ded8e7e          31131.3842                 mi
3    a4fb73d46417597172297d2c86dfc477         169333.9159                 mi
4    337857066029543d34fb6b362a70930f         14247.97073                 mi
..                                ...                 ...                ...
495  763fd09d6d61b3651c24800cbbd8deba         8328.436916                 mi
496  08e89354bf5f9359bcc511039e115016         298572.2611                 mi
497  7e59d586a1f42875ef19b2efa23cf45b         3299.115237                 mi
498  5c7883642fb57b03b62b571ed5e3fc88        -2240.607823                 hr
499  1ed8f9fb559b904df61a2b8c27be2531         62028.70181                 mi

         VEHICLE_METER_AT                       CUSTOM_FIELDS  \
0    2023-07-03T00:00:00Z
1    2023-07-04T00:00:00Z                                  {}
2    2023-07-04T00:00:00Z
3    2023-07-04T00:00:00Z  {\n  "accident_report": "false"\n}
4    2023-05-13T00:00:00Z                                  {}
..                    ...                                 ...
495  2023-06-14T00:00:00Z                                  {}
496  2023-07-02T00:00:00Z                                  {}
497  2023-06-08T00:00:00Z                                  {}
498  2023-06-26T00:00:00Z                                  {}
499  2023-07-04T00:00:00Z                                  {}

                  REPORTED_AT               RESOLVED_AT RESOLVED_NOTE  \
0        2023-06-14T17:36:00Z  2023-06-15T13:08:49.155Z            Ok
1        2023-03-15T09:17:00Z
2        2023-01-19T14:53:00Z  2023-01-19T20:29:50.129Z
3        2023-02-11T17:32:00Z   2023-02-14T12:08:22.17Z
4    2023-01-18T03:32:59.711Z      2023-01-18T06:30:00Z
..                        ...                       ...           ...
495  2023-06-14T10:02:51.104Z      2023-06-14T10:03:35Z
496      2023-01-15T23:33:25Z      2023-01-25T15:29:00Z
497  2023-03-16T17:41:14.243Z
498  2023-03-13T13:14:36.828Z      2023-03-24T06:00:00Z
499      2023-02-22T12:52:13Z

        STATE                CREATED_AT                UPDATED_AT
0    resolved  2023-06-14T17:36:51.937Z  2023-06-15T13:08:49.201Z
1        open  2023-03-15T09:27:27.783Z  2023-03-15T09:27:27.783Z
2    resolved  2023-01-19T14:54:28.062Z  2023-01-19T20:29:51.023Z
3    resolved  2023-02-11T17:34:11.487Z  2023-02-14T12:08:22.237Z
4    resolved  2023-01-18T03:32:59.902Z  2023-01-18T06:30:01.852Z
..        ...                       ...                       ...
495  resolved  2023-06-14T10:02:51.297Z  2023-06-14T10:03:37.159Z
496  resolved  2023-01-16T00:31:54.096Z  2023-01-25T15:30:30.803Z
497      open  2023-03-16T17:41:14.601Z  2023-03-16T17:42:37.174Z
498  resolved  2023-03-13T13:15:32.107Z  2023-03-28T13:32:18.279Z
499      open  2023-02-22T13:43:10.041Z  2023-02-22T13:43:10.041Z

[500 rows x 14 columns]>

In [56]:
df.describe()

,DESCRIPTION,CREATED_BY_ID,CLOSED_BY_ID,VEHICLE_ID,VEHICLE_METER_VALUE,VEHICLE_METER_UNIT,VEHICLE_METER_AT,CUSTOM_FIELDS,REPORTED_AT,RESOLVED_AT,RESOLVED_NOTE,STATE,CREATED_AT,UPDATED_AT
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,342,251,22,490,499,4,108,31,499,348,70,3,500,500
top,,,,b79c09e1bc96f281fe486f561aa4ade5,,mi,2023-07-04T00:00:00Z,{},2023-01-21T02:33:26.067Z,,,resolved,2023-02-22T13:43:10.041Z,2023-02-22T13:43:10.041Z
freq,105,158,477,2,2,362,169,403,2,148,414,352,1,1

In [57]:
load_dotenv(dotenv_path='cred.env')

True

In [67]:
host=os.getenv("MYSQL_HOST")
user=os.getenv("MYSQL_USER")
password=os.getenv("MYSQL_PASSWORD")
password = quote_plus(password)
database=os.getenv("MYSQL_DB")
port = 3306

print(password)
connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"
engine = create_engine(connection_string)

Rasika%4018

In [68]:
df.to_sql('issues_raw', con=engine, if_exists='replace', index=False)

500

In [1]:
import os
print(os.getcwd())

C:\Users\lenovo